.container {
  border: 4px solid #fff;
  border-radius: 100%;
  height: 45rem;
  width: 45rem;
  margin: 5rem auto;
  position: relative;
}

.type {
  font-size: 6rem;
  font-weight: 200;
  text-transform: uppercase;
  position: absolute;
  top: 8rem;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%);
}

.time {
  font-size: 8rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.cycles {
  font-size: 4rem;
  font-weight: 200;
  letter-spacing: 0.5rem;
  position: absolute;
  top: 80%;
  left: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
}
