.container {
  width: 10rem;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.input {
  background-color: inherit;
  font-size: 4rem;
  color: #fff;
  border: none;
  width: 8rem;
  height: 5rem;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
}